<app-header-app></app-header-app>

  <section class="container-app">
      
    <div class="d-flex w-100 justify-content-between breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">MENU</li>
            <li class="breadcrumb-item active" aria-current="page">Configuraciones</li>
        </ol>
    </div>
  
    <div class="row" style="padding:2%; width: 100%;">
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;">
          <!-- <img class="card-img-top" src="./assets/img/user.png" alt="Card image cap"> -->
          <i class="fa fa-shopping-cart fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Institución</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;color:#a3a8a3">
          <i class="fa fa-users fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">IVA</h1>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 padding-card">
        <div class="card" style="cursor: pointer;color:#81c784">
          <i class="fa fa-id-card-alt fa-5x text-center margin-icon"></i>
          <div class="card-body">
            <h1 class="text-center">Nº Dcoumento</h1>
          </div>
        </div>
      </div>
    </div>
  
  </section>


